@import '../../styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="email"],
input[type="password"] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 30px 0 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $light;
  border-radius: 8px;
  font-size: 16px;
  line-height: 60px;
  border: 0;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    background-color: $light;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 3px -1px $dark;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
    }
    
    .input-wrap {
      margin-top: 16px;
      display: flex;
      align-items: center;
      // flex: 1;
      position: relative;
  
      input {
        flex-grow: 1;
      }

      .input-status {
        position: absolute;
        right: 8px;
        font-size: 12px;
        cursor: help;
      }
    }

    .btn-submit {
      margin-top: 32px;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .loading-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .spinner {
        // display: none;
        margin-top: 30px;
      }

      .error-msg {
        // display: none;
        margin-top: 30px;
        color: $primaryLight;
      }
    }
  }

  .footer {
    background-color: $primary;
    height: 48px;
  }
}