@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  border: none;
  outline: none;
}

button {
  background-color: $primary;
  color: $light;
  border-radius: 8px;
  font-size: 16px;
  line-height: 50px;
  border: 0;
  padding: 0 16px;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background: $disabledBackground;
    color: $disabledColor;

    &:hover {
      opacity: 1;
    }
  }
}
