@import '../../styles/colors.scss';

.header {
    background: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-top: 40px solid $primaryDark;
    
    h1 {
      color: $light;
      margin-top: 16px;
    }
  }
