@import '../../styles/colors.scss';

.headerWrap {
  background: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-top: 40px solid $primaryDark;
  
  h1 {
    color: $light;
    margin-top: 16px;
  }
}


@media only screen and (max-width: 600px) {
  .headerWrap {
    border-top-width: 20px;
  }
}
